@mixin flex($justifyContent, $flexDirection) {
    display: flex;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
    align-items: center;
}
.card{
    width: 100%;
    @include flex(space-between, row);
    border: 1px solid black;
    background: white;
}
.products-in-cart__top{
    height: 40px;
}
.number{
    width: 5%;
}
.line{
    width: 80%;
    height: 2px;
    background-color: black
}
.product-info{
    width: 75%;
    @include flex(space-between, row);
    .product-info__img{
        width: 30%;
        img{
            width: 100%;
        }
    }
    .product-info__text{
        @include flex(space-between, column);
    }
    .rating-discount-container{
        width: 100%;
        @include flex(space-between, row);
    }
}
.quantity-info{
    width: 20%;
    @include flex(space-between, column);
    .quantity-info__quantity-for-order{
        width: 70%;
        @include flex(space-between, row);
        .quantity-info__quantity-for-order__button{
            @include flex(center, row);
            width: 20px;
            height: 20px;
            border: 1px solid black;
            border-radius: 50%;
        }
    }
}