@import './_cardCart.scss';
@import './_summary.scss';
@import './_orderForm.scss';
@mixin flex($justifyContent, $flexDirection) {
    display: flex;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
    align-items: center;
}
.products-in-cart-wrapper{
    width: 60%;
    margin-top: 0;
}
.products-in-cart__title{
    margin-left: 10px;
}
.products-in-cart__top{
    @include flex(space-between, row);
    .products-in-cart__limit{
        width: 20%;
        @include flex(space-between, row);
        .products-in-cart__limit__value{
            width: 20%;
            height: 20px;
            border: 1px solid black;
        }
    }
    .products-in-cart__pagination{
        width: 30%;
        @include flex(space-between, row);
        .products-in-cart__pagination__button{
            width: 10%;
            height: 20px;
            border-radius: 10px;
            background-color: rgb(255, 230, 189);
            @include flex(center, row);
        }
        .products-in-cart__pagination__button:hover{
            background-color: rgb(255, 162, 11);
            cursor: pointer;
        }
        .products-in-cart__pagination__value{
            width: 20%;
            height: 20px;
            border: 1px solid black;
        }
    }
}
.number{
    @include flex(center, row);
}
.empty-card{
    font-size: 30px;
}