@import '_normalize';  
@import './MainPage/mainPage.scss';  
@import './CartPage/cartPage.scss'; 
@import './CartPage/cardCart.scss';
@import './CartPage/summary.scss';
@import './CartPage/orderForm.scss';

// @font-face {
//     font-family: "XanhMono";
//     src: url("../src/assets/fonts/XanhMono-Regular.woff");
// }
// @font-face {
//     font-family: "BonaNova";
//     src: url("../src/assets/fonts/BonaNova-Regular.woff");
//     font-weight: 400;
// }
// @font-face {
//     font-family: "Amatic";
//     src: url("../src/assets/fonts/AmaticSC-Regular.woff");
//     font-weight: 400;
// }
// @font-face {
//     font-family: "PTSansNarrow-Regular";
//     src: url("../src/assets/fonts/PTSansNarrow-Regular.woff");
//     font-weight: 400;
// }

@mixin flex($justifyContent, $flexDirection) {
    display: flex;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: 'Amatic';
    position: relative;
}
header{
    width: 100%;
    @include flex(center, row);
    img{
        width: 100px;
    }
    margin-bottom: 20px;
}
.header-wrapper{
    width: 90%;
    height: 70px;
    @include flex(space-between, row);
}
.cart-container{
    @include flex(space-around, row);
}
.cart-in-header-container{
    position: relative;
}
.cart-quantity{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: aquamarine;
}
