@import '_normalize';  
@import './MainPage/mainPage.scss';  
@import './CartPage/cartPage.scss'; 
@import './ProductPage/productPage.scss'; 

// @font-face {
//     font-family: "XanhMono";
//     src: url("../src/assets/fonts/XanhMono-Regular.woff");
// }
// @font-face {
//     font-family: "BonaNova";
//     src: url("../src/assets/fonts/BonaNova-Regular.woff");
//     font-weight: 400;
// }
// @font-face {
//     font-family: "Amatic";
//     src: url("../src/assets/fonts/AmaticSC-Regular.woff");
//     font-weight: 400;
// }
// @font-face {
//     font-family: "PTSansNarrow-Regular";
//     src: url("../src/assets/fonts/PTSansNarrow-Regular.woff");
//     font-weight: 400;
// }

@mixin flex($justifyContent, $flexDirection) {
    display: flex;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
body{
    height: 100vh;
    position: relative;
    background-color: rgb(243, 243, 243);
    @include flex(space-between, column);
}
header{
    width: 100%;
    @include flex(center, row);
    img{
        width: 100px;
    }
    margin-bottom: 20px;
}
.header-wrapper{
    width: 80%;
    height: 70px;
    margin-top: 30px;
    @include flex(space-between, row);
    .cart-total{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
}
.main {
    width: 100%;
}
.main-wrapper{
    text-align: center;
}
.cart-container{
    margin-top: 30px;
    @include flex(space-around, row);
    align-items: flex-start;
}
.cart-in-header-container{
    position: relative;
}
.cart-quantity{
    width: 40px;
    height: 40px;
    @include flex(center, row);
    position: absolute;
    top: 65%;
    left: 0;
    border-radius: 50%;
    background-color: rgb(255, 172, 7);
    font-size: 25px;
}
.footer{
    width: 80%;
    @include flex(space-between, row);
    font-size: 1.5rem;
    .rs-link{
        width: 20%;
    }
    img{
        width: 50%;
    }
    .author:hover{
        color: rgb(255, 172, 7);
    }
}
.not-found-page{
    font-size: 30px;
}