.display-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .display-bar__sort-bar,
  .display-bar__search-bar {
    width: 20%;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
  }

  .display-bar__sort-bar {
    cursor: pointer;
  }

  .display-bar__button-list {
    display: grid;
    gap: 15px;

    .display-bar__button-title {
      margin: 0;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .display-bar__view-label {
      display: flex;
      gap: 5px;
      grid-row-start: 2;
      grid-row-end: 3;
      
      .display-bar__view-button {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
}